.cache/

# VSCode
.vscode/


# logs
*.log

# env
.env

.dockerignore
# Python

**pycache**/
*.py[cod]
*.pyo

# uv

.venv/
.python-version

# Jupyter

.ipynb_checkpoints/


# MkDocs

site/

# OS

.DS_Store
Thumbs.db
